.ssh
doc
media
other
.gnupg
.weechat
.emacs.d
tmp
.zcompdump-*
.xsession-errors*
.oh-my-zsh
.babushka
develop/
etc
share
src
.cpan
.#test.brr
.PeaZip/
.Xauthority
.aqemu/
.ash_history
.bash_history
.binwalk/
.cabal/
.cargo/
.dbus/
.dmrc
.dosbox/
.e-crashdump.txt
.e/
.elementary/
.esd_auth
.fltk/
.fonts/
.gem/
.gentoo/
.ghc/
.gimv/
.gstreamer-0.10/
.icons/
.ivy2/
.kde4/
.lastpass/
.lesshst
.mono/
.mozilla/
.multirust
.nv/
.pfl.info
.pgadmin/
.pki/
.porthole/
.pulse-cookie
.python_history
.recently-used
.recoll/
.rustup/
.sbt/
.sqlite_history
.steam/
.steampath
.steampid
.task/
.thumbnails/
.thunderbird/
.wget-hsts
.wine/
.xchat2/
.xdg_menu_cache/
.zsh-update
.zsh_history
GNUstep/
VirtualBox VMs/
bin/deptree2dot.pl
bin/kaitai-struct-compiler
bin/ksc
bin/tup-conf
bin/tup-mconf
lib/
perl5/
powder.pref
test.brr
test.png
xsession.log
